{% extends "layout.html" %}

{% block title %}
    Face App {{ title }}
{% endblock title %}

{% block content %}
    <div class="content">
        <form action="#" enctype="multipart/form-data" method="POST">
            {{ form.image.label() }}
            <br>
            {{ form.image() }}
            <br>
            {{ form.submit() }}
            <!-- Open Jinja Styles If block to check for errors in file upload -->
            {% if form.image.errors %}
                {% for error in form.image.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    {% if image_filename %}
    <div class="media">
        <img src="{{ url_for('static', filename='images' + '/' + image_filename) }}" alt="sample_image">
    </div>
    {% endif %}
    {% if image_filename %}
        <form action="{{ url_for('download_file', filename=image_filename) }}" method="get">
            <button class="btn" style="width:100%"><i class="fa fa-download"></i> Download</button>
        </form>
    {% endif %}
{% endblock content %}